body {
  background-color: #212429 !important;
  color: white !important;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(45, 45, 45);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(154, 154, 154);
  border-radius: 20px;
}

